<h1>Listing of Application Trim</h1>

<table>
    <tr>
      <th>Name</th>
      <th>Language</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>

    <% @trims.each do |trim| %>
      <tr>
        <td><%= trim.name %></td>
        <td><%= trim.language %></td>
        <td><%= trim.value %></td>
        <td><%= link_to 'Show', trim %></td>
        <td><%= link_to 'Edit', edit_trim_path(trim.id) %></td>
        <td><%= link_to 'Destroy', trim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Trim', new_trim_path %>
