
  <div class="field">
    Head of Family 
    <% if @family.main_person_id? %>
      <%= @family.main_person.first_name %> <%= @family.main_person.last_name %>
    <% else %>
      Not Assigned
    <% end %>
  </div>
  <div class="field">
    Family Name <br>
    <%= text_field_tag 'name', @family.name%>
    <%= hidden_field_tag 'family_id', @family.id %>
  </div>
  <div class="field">
    Family Name <br>
    <%= text_area_tag 'notes', @family.notes, cols: 40, rows: 20 %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
