<h1>Editing family</h1>

<%= form_tag({:controller => :families, :action => :update_family}, {:method => :post, :name => :fname}) %>
  <%= render :partial => 'family_form' %> 
  <%= render :partial => 'members/head_member' %> 
  <div class="actions">
    <%= submit_tag %>
  </div>

</form>

<%= link_to 'New Member', new_member_members_path(:family_id => @family.id) %> <br />
<%= link_to 'Back', families_path %>
