<h2><%= Trim.trimit('Sign In') %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= Trim.trimit('Login Email') %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= Trim.trimit('Login Password') %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label Trim.trimit('Login Checkbox Remember Me') %></div>
  <% end -%>

  <div><%= f.submit Trim.trimit('Sign In') %></div>
<% end %>

<%= render "devise/shared/links" %>
