  <table>
    <tr>
      <td>First Name</td>
      <td><%= text_field_tag 'first_name', @member.first_name, size: 40 %></td>
    </tr>
    <tr>
      <td>Middle Name</td>
      <td><%= text_field_tag 'middle_name', @member.middle_name, size: 40 %></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td><%= text_field_tag 'last_name', @member.last_name, size: 40 %></td>
    </tr>
    <tr>
      <td>Gender</td>
      <% if !@member.male %>
        <td>Male <%= radio_button_tag('gender', 'male', false) %> Female <%= radio_button_tag('gender', 'female', true) %> </td>
      <% else %>
        <td>Male <%= radio_button_tag('gender', 'male', true) %> Female <%= radio_button_tag('gender', 'female', false) %> </td>
      <% end %>
    </tr>
    <tr>
      <td>Birthday</td>
      <td><%= date_select 'member', 'birthday', default: @member.birthday %> </td>
    </tr>
    <tr>
      <td>Relationship</td>
      <td><%= select_tag( "relationship", options_for_select(@relationships.map { |a| [a.relationship, a.relationship] })) %> </td>
    </tr>
  <table>
