<h1>Edit Family Member</h1>

<%= form_tag({:controller => :members, :action => :update_family_member}, {:method => :post, :name => :fname}) %>
  <%= render :partial => 'families/family_show_form' %>
  <%= render 'new_form' %>
  <%= hidden_field_tag 'member_id', @member.id %>
  <%= submit_tag 'Update Member' %><br /><br />
</form>
