<h1>Create New Member</h1>

<%= form_tag({:controller => :members, :action => :create_family_member}, {:method => :post, :name => :fname}) %>
  <%= render :partial => 'families/family_show_form' %>
  <%= render 'new_form' %>
  <%= submit_tag 'Create Member' %><br /><br />
<%= link_to 'Back', families_path %>
</form>
